In [4]:
#1
#What is List? How will you reverse a list?
#==>A list is a value that contains multiple values in an ordered sequence.
# we can reverse a list by using 'var.reverse()' method of list.
#example
l = [1,2.3,'krina','patel',675]
l.reverse()
print(l)

[675, 'patel', 'krina', 2.3, 1]

In [5]:
#2
#How will you remove last object from a list?
#==>we can remove last object from a list by using 'var.pop()' method of list.
#example
l = [1,2.3,'krina','patel',675]
l.pop()
print(l)

[1, 2.3, 'krina', 'patel']

In [6]:
#3=Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?

list1=[2, 33, 222, 14,  25]
list1[-1]

25

In [7]:
#4=Differentiate between append () and extend () methods?
#==>append() adds a single element to the end of the list.
#example
l = [1,2.3,'krina','patel',675]
l.append('mily')



#==>extend() can add multiple individual elements to the end of the list.
l1 = [1,2.3,'krina','patel',675]
l1.extend('mily')


print(l)
print(l1)

[1, 2.3, 'krina', 'patel', 675, 'mily']
[1, 2.3, 'krina', 'patel', 675, 'm', 'i', 'l', 'y']

In [8]:
#5=Write a Python function to get the largest number,smallest num and sum 
#of all from a list

a = [1,26,98,87,76]
a.sort()
for i in a:
    print(i)
print('max value=' , a[-1])
print('min value=', a[0])

1
26
76
87
98
max value= 98
min value= 1

In [9]:
#6=How will you compare two lists?
list5 = [11,3,56,89,90]
list6 = [4,45,67,89,55]
if list5 == list6:
    print('true')
else:
    print('false')

false

In [10]:
#7=Write a Python program to count the number of strings where the string 
#length is 2 or more and the first and last character are same from a given 
#list of strings
l1=['krina','kick','keep','giig']
for i in l1:
    if len(i) >= 2 and i[0] == i[-1]:
        print(i,end=' ')

kick giig

In [11]:
#8=Write a Python program to remove duplicates from a list.
list66 = [1,2,3,45,54,66,45,2,7,1]
l8 =set(list66)
list(l8)

[1, 2, 3, 66, 7, 45, 54]

In [14]:
#9=Write a Python program to check a list is empty or not.
list1 = input('enter the list.')
list1.split()
if len(list1) == 0:
    print('[]')
else:
    print(list1)

enter the list.
[]

In [15]:
#10=Write a Python function that takes two lists and returns true if they have 
#at least one common member.
list5 = [11,3,56,89,90]
list6 = [4,45,67,89,55]
for i in list5:
    for j in list6:
        if i == j:
            print('true')

true

In [16]:
#11=Write a Python program to generate and print a list of first and last 5 
#elements where the values are square of numbers between 1 and 30.
lis1 = [1,2,3,4,5,26,27,28,29,30]
l6=[]
for i in lis1:
    for j in lis1:
        if i == j:
            l6.append(i*j)
print(l6)

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

In [ ]:
#12=Write a Python function that takes a list and returns a new list with unique 
#elements of the first list.

In [17]:
#13=Write a Python program to convert a list of characters into a string.
l76 = ['i','am','krina','patel']
' '.join(l76)

'i am krina patel'

In [ ]:
#14=Write a Python program to select an item randomly from a list

In [18]:
#15=Write a Python program to find the second smallest number in a list.
b = [48,66,78,90,23,30]
b.sort()
a =b[1]
print('second smallest number=',a)

second smallest number= 30

In [19]:
#16=Write a Python program to get unique values from a list
list56 = [11,3,56,89,90,11,11,23,43,23]
l98 = set(list56)
list(l98)

[3, 11, 43, 23, 56, 89, 90]

In [20]:
#17=Write a Python program to check whether a list contains a sub list
list70 = [[1,2,3],[60,90,30],[9,8,34]]
sublist = [1,2,3]
if sublist in list70:
    print('list is present')
else:
    print('list is not present')

list is present

In [21]:
#18=Write a Python program to split a list into different variables.
A,B,C,D = ['apple', 'ball', 'cat' , 'dog']
 
print('var1=',A)
print('var2=',B)
print('var3=',C)
print('var4=',D)

var1= apple
var2= ball
var3= cat
var4= dog

In [ ]:
#19=What is tuple? Difference between list and tuple.
#==>tuple                ==>list
#-->immutable datatype    -->mutable datatype
#-->represent by ()       -->represent by []
#-->we can use as keys    -->we can not use as keys
#for dictionary           for dictionary

In [22]:
#20=Write a Python program to create a tuple with different data types
t1 = ['ice-cream', {1,2,3},True,[2,4.5,89],'cake' ,(3,'u'), {1:3,'you':90}]
t2 = tuple(t1)
print(t2)

('ice-cream', {1, 2, 3}, True, [2, 4.5, 89], 'cake', (3, 'u'), {1: 3, 'you': 90})

In [23]:
#21=Write a Python program to create a tuple with numbers.
var23 = 1,2,3,4,5,6,7
print(var23)

(1, 2, 3, 4, 5, 6, 7)

In [24]:
#22=Write a Python program to convert a tuple to a string
tup32 = ('k','r','i','n','a')
''.join(tup32)

'krina'

In [25]:
#23=Write a Python program to check whether an element exists within a 
#tuple.
t1 = ('ice-cream', {1,2,3},True,[2,4.5,89],'cake' ,(3,'u'), {1:3,'you':90})
t4 = ('ice-cream')
if t4 in t1:
    print('True')
else:
    print('False')

True

In [26]:
#24=Write a Python program to find the length of a tuple.
t1 = ('ice-cream', {1,2,3},True,[2,4.5,89],'cake' ,(3,'u'), {1:3,'you':90})
len(t1)

7

In [27]:
#25=Write a Python program to convert a list to a tuple.
liss11 = [11,23,'krina']
tup1 = tuple(liss11)
print(tup1)

(11, 23, 'krina')

In [28]:
#26=Write a Python program to reverse a tuple.
var2 = [1,2.3,'krina','patel',675]
var2.reverse()
var3 = tuple(var2)
print(var3)

(675, 'patel', 'krina', 2.3, 1)

In [29]:
#27=Write a Python program to replace last value of tuples in a list.
tup40 = (1,2.3,'krina','patel',675)
list40 = list(tup40)
list40.pop(-1)
list40.append('panda')
print(list40)

[1, 2.3, 'krina', 'patel', 'panda']

In [ ]:
#28=Write a Python program to find the repeated items of a tuple.

In [33]:
#29=Write a Python program to remove an empty tuple(s) from a list of tuples.

In [ ]:
#30=Write a Python program to unzip a list of tuples into individual lists.

In [34]:
#31=Write a Python program to convert a list of tuples into a dictionary.
m = [(3,4),('krina','patel'),(78,90)]
dict(m)

{3: 4, 'krina': 'patel', 78: 90}

In [ ]:
#32=How will you create a dictionary using tuples in python?
#==>use the dict() function to convert a tuple to a dictionary.
#A key-value pair is contained in each tuple.

In [35]:
#33=Write a Python script to sort (ascending and descending) a dictionary by 
#value.
dict1 = {1:3,6:7,89:70,56:45}
dict3 =dict2 =list(dict1.items())

dict2.sort(reverse=True)
print('descending=',dict(dict2))
dict3.sort()
print('ascending=',dict(dict3))

descending= {89: 70, 56: 45, 6: 7, 1: 3}
ascending= {1: 3, 6: 7, 56: 45, 89: 70}

In [36]:
#34=Write a Python script to concatenate following dictionaries to create a 
#new one.
d1 = {1:'one',2:'two'}
d2 = {'a':'apple', 'b':'ball'}
d1.update(d2)
d1

{1: 'one', 2: 'two', 'a': 'apple', 'b': 'ball'}

In [44]:
#35=Write a Python script to check if a given key already exists in a dictionary.
dict67 ={'1':'one','2':'two','a':'apple', 'b':'ball','f':'female','m':'male'}
key = input('enter the key=')
if key in dict67:
    print('True')
else:
    print('False')

enter the key=f
True

In [ ]:
#36= How Do You Traverse Through A Dictionary Object In Python?

In [38]:
#37=How Do You Check The Presence Of A Key In A Dictionary?
dict67 ={1:'one',2:'two','a':'apple', 'b':'ball','f':'female','m':'male'}
dict67.keys()

dict_keys([1, 2, 'a', 'b', 'f', 'm'])

In [ ]:
#38=Write a Python script to print a dictionary where the keys are numbers 
#between 1 and 15.

In [ ]:
#39=Write a Python program to check multiple keys exists in a dictionary

In [45]:
#40=Write a Python script to merge two Python dictionaries
d1 = {1:'one',2:'two'}
d2 = {'a':'apple', 'b':'ball'}
d1.update(d2)
d1

{1: 'one', 2: 'two', 'a': 'apple', 'b': 'ball'}

In [ ]:
#41=Write a Python program to map two lists into a dictionary